## ignore jupyter notebooks in postprocessing in the language bar on github

TEM/AutoScript/notebooks/** linguist-vendored

TEM/DigitalMicrograph/Remote_notebooks/** linguist-vendored

TEM/stemOrchestrator/notebooks/** linguist-vendored